*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family:"play";
	src: url("../fonts/Play/Play-Bold.ttf");
	format("font_type");
}

@font-face{
	font-family:"dosis";
	src: url("../fonts/Dosis/Dosis-medium.ttf");
	format("font_type");
}

#placeholder_one{
position: absolute;
z-index: 1;
margin: 20% 75%;

}

#placeholder_two{
position: absolute;
z-index: 3;
margin: 46% 72%;
}
.inbound_about header{
background: url("../patterns/egg_shell.png") repeat; 
width: 100%;
height: 100%;
position: absolute;

}

.inbound_about header #after_h1{
width:86%;
height: 16%;
position: absolute;
margin: 20% 5%;
font-size:500%;
font-family:"play", Arial, sans-serif;
color: #6b7f97;	
}


#h1_2{
position: absolute;
font-family:"play", Arial, sans-serif;
margin: 36% 40%;
font-size: 450%;
color: #54585c;
}

#fold_txt_one{
margin: 57% 8%;
width: 60%;
height: 30%;
position:absolute;
z-index:2;
font-family:"dosis", Arial, sans-serif;
text-align: justify;
font-size: 225%;
color: #868d95;
}


.inbound_benefits{
	width: 100%;
	height: 100%;
	background: url("../patterns/outlets.png");
	position: absolute;
	margin: 100% auto;
	text-align: justify;
	border: 2px solid #fff;
}

.inbound_benefits header{
	font-size: 200%;
	margin:13% 0 2% 0;
	text-align: center;
	color: #fff;
	font-family:"play", Arial, sans-serif;
	position: absolute;
}

.inbound_benefits{
	font-size: 100%;
	padding-left:20%;
	color: #fff;
	width: 100%;
	height: 100%;
	
}
.inbound_benefits #be_01{
	width: 20%;
	height:30%;
	color: #fff;
	position: absolute;
	margin: 25% 10%;
	font-family:"dosis", Arial, sans-serif;
}
.inbound_benefits #be_02{
	width: 20%;
	height:30%;
	color: #fff;
	position: absolute;
	margin: 50% 10%;
	font-family:"dosis", Arial, sans-serif;
}
.inbound_benefits #be_03{
	width: 20%;
	height:30%;
	color: #fff;
	position: absolute;
	margin: 35% 31%;
	font-family:"dosis", Arial, sans-serif;
}

.inbound_testimonials{
	width:100%;
	height:100%;
	position: absolute;
	margin: 294% auto;
	background: url("../patterns/nami.png");
	font-family:"Doppio_One", Arial, sans-serif;
	-webkit-text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
	-moz-text-shadow text-shadow:-1px -2px 2px  rgba(204, 204, 204, .7);
	text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
}

.inbound_testimonials header{
	color: #fff;
	text-align: center;
	font-size: 400%;
	margin-top:20%;
}


#first{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 45% 0; 
	background: url("../patterns/nami.png");
	
}

#first div{
	width: 70%;
	height: 50%;
	margin: 20% 0 0 15%;
	text-align: center;
	font-size: 200%;
	color: #fff;
	font-family:"Doppio_One", Arial, sans-serif;
}

#second{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 145% 0; 
	background: url("../patterns/nami.png");
	color: #fff;
}

#second div{
	width: 70%;
	height: 50%;
	margin: 20% 0 0 15%;
	text-align: center;
	font-size: 200%;
	color: #fff;
	font-family:"Doppio_One", Arial, sans-serif;
}
#third{
	position:absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 145% auto;
	color: #fff;
	background: url("../patterns/nami.png");
}
#third div{
	width: 70%;
	height: 50%;
	margin: 20% 0 0 15%;
	text-align: center;
	font-size: 200%;
	color: #fff;
	font-family:"Doppio_One", Arial, sans-serif;
}

.services{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("../patterns/nami.png");
	margin: 584% auto;
	font-family:"Doppio_One", Arial, sans-serif;
	-webkit-text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
	-moz-text-shadow text-shadow:-1px -2px 2px  rgba(204, 204, 204, .7);
	text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
}

.services header{
	width: 50%;
	text-align: center;
	font-size:300%;
	margin: 7% auto;
	color: #fff;
}

.services ul{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	list-style-type: none;
	
}

.services ul li{
	margin:5% auto;
	font-size: 300%;
	color: #fff;
}
.prices{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("../patterns/nami.png");
	margin: 684% auto;
}

#title_prices{
	width:30%;
	font-size: 200%;
	margin: 5% auto;
	text-align: center;
	color: #fff;
	font-family:"Doppio_One", Arial, sans-serif;
	-webkit-text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
	-moz-text-shadow text-shadow:-1px -2px 2px  rgba(204, 204, 204, .7);
	text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
}
	
#price_one, #price_two, #price_three{
	width: 20%;
	height: 50%;
	position: relative;
	float: left;
	margin: 3% auto 0 10%;
	color: #fff;
	text-align: center;
	font-size: 200%;
	font-family:"Doppio_One", Arial, sans-serif;
	-webkit-text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
	-moz-text-shadow text-shadow:-1px -2px 2px  rgba(204, 204, 204, .7);
	text-shadow: -1px -2px 2px  rgba(204, 204, 204, .7);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
		border: 2px dashed #ccc;
	
	
}
#price_one input, #price_two input, #price_three input{
	width: 50%;
	height: 20%;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	background: #000;
	margin-top: 5%;
	color:#fff;
	font-size: 50%;
}

#price_one input:hover, #price_two input:hover, #price_three input:hover;{
	color:#ccc;
	
}
#price_one div, #price_two div, #price_three div{
width: 70%;
height: 40%;
opacity: 0.9;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius: 15px;
margin:0 auto;
color:#fff;
font-weight: bold;


}
#op_20, #op_40, #op_80{
	font-size: 70%;
	margin-top: 10%;
	
}
#op_20list li, #op_40list li, #op_80list li {
	font-size: 40%;
	list-style-type: none;
	padding-top:5%;
	
}

#about_data{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 780% auto;
	background:url("../patterns/nami.png");
	color: #fff;
	font-family:"Doppio_One", Arial, sans-serif;
}
#about_data header{
	width: 20%;
	font-size: 190%;
	margin: 10% auto;
}
#about_data div{
	position: relative;
	float: left;
	margin-left:9%;
	text-align: center;
	border: 1px solid #ccc;
	font-size: 100%;
	height:15%;
}
#about_data #pic_six{
	position: absolute;
	margin: 40% 0 0 27%;
	text-align: center;
}
#about_data #pic_seven{
	position: absolute;
	margin: 40% 0 0 63%;
	text-align: center;
	
}
#contact_form{
	width: 100%;
	height: 100%;
	margin: 875% auto;
	position: absolute;	
	background:url("../patterns/nami.png");
	color: #fff;
	font-size: 150%;
	font-family:"Doppio_One", Arial, sans-serif;
	
}
#contact_form form {
	width:50%;
	margin: 10% auto;
	text-align: center;
}
#contact_form form input{
	width: 35%;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
}
#contact_form  #comment{
	width: 70%;
	height: 50%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}
#contact_form  #submit_button{
	width: 15%;
}
#end_space{
	width:100%;
	height:10%;
	border: 2px solid #ccc;
	position: absolute;
	background: #ccc;
	margin: 0 auto;
	
}
#end_space p{
	color: #000;
	font-size: 60%;
	text-align: center;
}